@charset "UTF-8";
h1 {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

body{
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.margintop{
    margin-top: 10%;
}

/*ドット背景*/
.box{
    width:100%;
    height:200px;
  }
.bg_dot{
    background-color: #fff;
    background-image:
      radial-gradient(#7bded9 30%, transparent 30%);
    background-size: 20px 20px;
    background-repeat: repeat;
  }
  .is-small{
    background-image:
      radial-gradient(#888 10%, transparent 10%);
  }