@charset "UTF-8";

h1 {
    background-color: #fff;
    font-family: fantasy;
    color: #888;
    font-size: 300%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}



/* body{
    text-align: center;
} */

.margintop{
    margin-top: 100px;
    text-align: center;
}

/*ドット背景*/
.box{
    width:100%;
    height:200px;
    
  }
.bg_dot{
    background-color: #fff;
    background-image:
      radial-gradient(#7bded9 30%, transparent 30%);
    background-size: 20px 20px;
    background-repeat: repeat;
  }
  .is-small{
    background-image:
      radial-gradient(#888 10%, transparent 10%);
  }

  .box2 {
    padding: 5px;
    margin: 50px auto;
    width:50%;
    height: 200px;
    font-weight: bold;
    color: #6091d3;/*文字色*/
    background: #FFF;
    border: solid 3px #6091d3;/*線*/
    border-radius: 10px;/*角の丸み*/
    overflow:auto;
}
.infobox {
    height: 6.3em;     /* 高さを制限(※) */
    overflow: scroll;  /* スクロールバーを表示(※) */
    border: red 1px dashed;    /* 枠線を追加 */
    background-color: #fff0f0; /* 背景色を追加 */
 }
  
.box2 p {
    margin: 0; 
    padding: 0;
}

.inner{
    display: inline-block;
    text-align: left;
}

.widecenter{
    justify-content: center;
}

.box26 {
    position: relative;
    margin: 100px auto;
    margin-bottom: 30px;
    padding: 0.5px 1px;
    border: solid 3px #6091d3;
    border-radius: 8px;
    background-color: #FFF;
    width: 20%;
    height: auto;
    text-align: center;
    font-size: 20px;
    color: #6091d3;
}
.box26 .box-title {
    position: absolute;
    display: inline-block;
    top: -13px;
    left: 5px;
    padding: 0 9px;
    line-height: 1;
    font-size: 19px;
    background: #FFF;
    color: #6091d3;
    font-weight: bold;
    width: auto;
}
.box26 p {
    margin: 0; 
    padding: 0;
}

.button {
    display       : inline-block;
    border-radius : 20%;          /* 角丸       */
    font-size     : 12pt;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 7px 7px;   /* 余白       */
    background    : #6091d3;     /* 背景色     */
    color         : #ffffff;     /* 文字色     */
    line-height   : 1em;         /* 1行の高さ  */
    transition    : .3s;         /* なめらか変化 */
    /* box-shadow    : 6px 6px 3px #666666;  影の設定 */
    border        : 2px solid #6091d3;    /* 枠の指定 */
  }
  .button:hover {
    box-shadow    : none;        /* カーソル時の影消去 */
    color         : #6091d3;     /* 背景色     */
    background    : #ffffff;     /* 文字色     */
  }



.center{
	text-align: center;
	font-weight: bold;
    font-size: 20px;
}

.parent {
 float: left;
}
 
.child {
 text-align: left;
}
.smallfont{
	font-size:14px;
}

.board-container {
    position: fixed;
    top: 60px; /* ボタンの高さ分を追加 */
    right: 20px;
    width: 300px;
    height: 300px;
    overflow: auto;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: none;
}

.message {
    margin-bottom: 10px;
}

.collapsible-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    padding: 10px;
    border: none;
    border-radius: 5px;
    text-align: center;
    z-index: 1; /* 重なり順を指定 */
}

/*.post-form {*/
/*    display: none;  初期状態では非表示 */
/*}*/

.post-form input[type="text"],
.post-form textarea,
.post-form input[type="submit"] {
    display: block;
    margin-bottom: 10px;
    width: calc(100% - 20px);
    padding: 5px;
}

.post-form input[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 2px;
    background-color: white;
    margin-bottom: 3px;
}

/* ハンバーガーマークの間隔を調整するためのスタイル */
.bar:not(:last-child) {
    margin-bottom: 5px;
}

.rule-container {
    display: flex;
    margin-right: auto; 	
    display: flex;
    justify-content: center; /* ルールボックスを中央揃えにする */
}

.rule-box {
   	background-color: #f2f2f2; /* 薄い灰色 */
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%; /* 必要に応じて調整 */
    max-width: 800px; /* 必要に応じて調整 */
}

.conteiner-test{
	justify-content: space-between;
}

.container{
    display: flex;
    flex-direction: row;
	justify-content: center;
}
.item1 { flex-basis: 200px; }

.item-center {
    margin: 0 auto; /* 左右のマージンを自動で設定して真ん中に配置 */
  }
